<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block  title%} {% endblock  %}</title>
    <link rel="stylesheet" href="/static/fontawesome-free-6.1.1-web/css/all.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
    <div class="transteam ">
        <div class="header">
            <div class="header--container grid wide">
                <div class="header--container__logo">
                    <a href="">
                        <img src="/static/image/logomtg.svg" alt="">
                    </a>
                </div>
                <div class="header--container__name">
                    <h2><a href="http://mongtiengioi.com">Mộng Tiên Giới</a></h2>
                </div>
                <div class="header--container__menu"></div>
            </div>
        </div>
        <div class="banner">
            <div class="banner--container">
                <div class="banner--container__logo">
                   <div>
                        <img src="/static/image/logo.png" alt="">
                   </div>
                </div>
                <div class="banner--container__name">
                    <div>
                        <h1>Transteam</h1>
                    </div>
                    <div>
                        <h1>Transteam</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="comic">
            <div class="comic--container ">
                <div class="comic--container__nav container--nav">
                    <span></span>
                    <h3>Truyện Đang dịch</h3>
                    <span></span>
                </div>

                <div class="comic--container__comic grid wide">
                    <div class="comic--list row">
                        {% block listcomic%}{% endblock  %}
                    </div>
                </div> 
            </div>     
        </div>
        <div class="member">
            <div class="member--container">
                <div class="member--container__nav container--nav">
                    <span></span>
                    <h3>Thành Viên Team</h3>
                    <span></span>
                </div>
                <div class="member--container__member grid wide">
                    <div class="member--list row">
                        {% block listmember%}{% endblock  %}
                    </div>
                </div>        
            </div>   
        </div>
        <div class="community">
            <div class="community--container">
                <div class="community--container__nav container--nav">
                    <span></span>
                    <h3>Cộng Đồng</h3>
                    <span></span>
                </div>
                <div class="community--container__community grid wide">
                    <div class="community--list">
                        <div class="community--list__item facebook">
                            <a href="https://www.facebook.com/mongtiengioi.transteam/"><i class="fa-brands fa-facebook"></i></a>
                            <span>Group</span>
                        </div>
                        <div class="community--list__item mess">
                            <a href="https://www.messenger.com/j/AbZGXcDfda1OO4A8/"><i class="fa-brands fa-facebook-messenger"></i></a>
                            <span>Box chat</span>
                        </div>
                        <div class="community--list__item youtobe">
                            <a href="https://www.youtube.com/c/mongtiengioi"><i class="fa-brands fa-youtube"></i></a>
                            <span>Youtube</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="donate">
            <div class="donate--container">
                <div class="donate--container__nav container--nav">
                    <span></span>
                    <h3>Donate</h3>
                    <span></span>
                </div>
                <div class="donate--container__donate">
                    <div class="donate--bidv col l-6 m-6 c-12">
                        <div class="donate--list__info">
                            <p>STK: 14010001591631</p>
                            <p>BIDV - PGD Nguyễn Thái Bình - CN Sài Gòn</p>
                            <p>Nguyễn Thuận Thành</p>
                        </div>
                        <div class="donate--list__qrcode">
                            <img src="/static/image/donate-bidv.jpg" alt="">
                        </div>
                    </div>
                    <div class="donate--momo col l-6 m-6 c-12">
                        <div class="donate--list__info">
                            <p></p>
                            <p>MoMo: 0344087349</p>
                            <p>Nguyễn Thuận Thành</p>
                        </div>
                        <div class="donate--list__qrcode">
                            <img src="/static/image/donate.jpg" alt="">
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>        
</body>
</html>